@using Microsoft.AspNetCore.Identity
@using LeoPortal2.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">
                Hello @UserManager.GetUserName(User)!
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Account" asp-action="LogOff">
                <i class="fa fa-sign-out"></i>Log Out
            </a>
        </li>
    </ul>
}
else
{

    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="item" asp-area="" asp-controller="Account" asp-action="Register">
                <i class="fa fa-registered"></i>Register
            </a>
        </li>
        <li class="nav-item">
            <a class="item" asp-area="" asp-controller="Account" asp-action="Login">
                <i class="fa fa-sign-in"></i>Log In
            </a>
        </li>
    </ul>
}

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
