@model LeoPortal2.Models.PageViewModels.ContactViewModel
@{
    ViewData["Title"] = "Contact";
}
<h2 class="col-md-offset-2">@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>@ViewData["Message"]</h3>

        <address>
            Room 1106 Building No.2, Fu Xing Yuan<br />
            Shanghai, China 200025<br />
            <abbr title="Phone">Tel:</abbr>
            +86 13917248421
        </address>
        
        <form method="post">
            @if (ViewBag.Message != null)
            {
                <div>@ViewBag.Message</div>

            }
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-muted"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-muted"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message">Message</label>
                <textarea cols="40" rows="4" asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-muted"></span>
            </div>
            <div class="form-group">
                <a asp-controller="app" asp-action="Index" class="btn btn-default">Cancel</a>
                <input type="submit" value="Send Message" class="btn btn-success" />
            </div>
        </form>

        <address>
            <strong>Support:</strong> <a href="mailto:leolin@leolin.studio">leolin@leolin.studio</a><br />
            <strong>Marketing:</strong> <a href="mailto:leolin@leolin.studio">leolin@leolin.studio</a>
        </address>
    </div>
</div>