<!-- Leo Added -->
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "About Leo Lin Group";
}

<h2>About Leo Lin Ltd. Group</h2>