<!-- Leo Added -->
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = User.Identity.Name + "'s Cash Flow";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/leaflet/dist/leaflet.css">
    <link rel="stylesheet" type="text/css" href="~/lib/dcjs/dc.min.css">

}

@section Scripts {
    <script src="~/lib/underscore/underscore-min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/lib/d3/d3.min.js"></script>
    <script type="text/javascript" src="~/lib/crossfilter2/crossfilter.min.js"></script>
    <script type="text/javascript" src="~/lib/dcjs/dc.min.js"></script>
    @*<script type="text/javascript" src="~/lib/leaflet/dist/leaflet.js"></script>*@
    @*<script src="~/lib/chartjs/dist/Chart.min.js"></script>*@
    <environment names="Development">
        <script src="~/js/app-cashflows.js"></script>
        <script src="~/js/simpleControls.js"></script>
        <script src="~/js/cashflowsController.js"></script>
        <script src="~/js/cashflowOneController.js"></script>
        @*<script src="~/js/cashflowDateTimePicker.js"></script>*@
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/_app/app-cashflows.js"></script>
        <script src="~/lib/_app/simpleControls.js"></script>
        <script src="~/lib/_app/cashflowsController.js"></script>
        <script src="~/lib/_app/cashflowOneController.js"></script>
        @*<script src="~/lib/_app/cashflowDateTimePicker.js"></script>*@
    </environment>
}
<div id="rowContainer" class="row" ng-app="app-cashflows">
    <div id="ngContainer" ng-view>

    </div>

</div>
