<!-- Leo Added -->
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model IEnumerable<LeoLin.Models.Trip>*@
@{
    ViewBag.Title = User.Identity.Name + "'s Favourite Links Collection";
}

@section Scripts {
    @*<script src="~/lib/underscore/underscore-min.js"></script>*@
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <environment names="Development">
        <script src="~/js/app-favlinks.js"></script>
        <script src="~/js/favlinksController.js"></script>
        <script src="~/js/simpleControls.js"></script>
        <script src="~/js/favlinkEditorController.js"></script>
        <script src="~/js/linkEditorController.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/_app/app-favlinks.js"></script>
        <script src="~/lib/_app/favlinksController.js"></script>
        <script src="~/lib/_app/simpleControls.js"></script>
        <script src="~/lib/_app/favlinkEditorController.js"></script>
        <script src="~/lib/_app/linkEditorController.js"></script>
    </environment>
}
<div id="rowContainer" class="row" ng-app="app-favlinks">
    <div id="ngContainer" ng-view></div>

</div>