<!-- Leo Added -->
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<LeoPortal2.Models.Trip>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h1 class="page-header">Welcome To the Leo's Playground</h1>
        <p>This app will allow you to plan for world trips</p>
        <a asp-controller="App" asp-action="Trips" class="btn btn-lg btn-success">View My Trips</a>
    </div>
    <div class="col-md-6">
        <h1 class="page-header">The Trips Demo</h1>
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.Name : @item.Created</li>

            }
        </ul>
    </div>
</div>
